<div class="container">
  <h1>How might citizen empowerement form the basis of changes in the urban environment?</h1>

  <!-- <div *ngIf="entryPreviewed" class="entry-previewed">
    <h1>Previewing entry</h1>
    <p>
      {{ entryPreviewed.text }}
    </p>
  </div> -->

  <mat-accordion>
    <mat-expansion-panel *ngFor="let pivot of diagramConfig.pivots"
                         (opened)="setPivot(pivot.header)"
                         (closed)="closePivot(pivot.header)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>{{pivot.title}}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="pivot-entries">
        <li *ngFor="let entry of pivotsDict[pivot.header]">
          <mat-card [class.mat-elevation-z0]="entry !== entryPreviewed"
                    [class.mat-elevation-z8]="entry === entryPreviewed">
            {{ entry.text }}
          </mat-card>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <ul>
    <li *ngFor="let entry of data.entries">{{ entry.text }}</li>
  </ul> -->
</div>
