<div class="container">
  <h1>How might citizen empowerement form the basis of changes in the urban environment?</h1>

  <!-- <div *ngIf="entryPreviewed" class="entry-previewed">
    <h1>Previewing entry</h1>
    <p>
      {{ entryPreviewed.text }}
    </p>
  </div> -->

  <mat-accordion>
    <mat-expansion-panel *ngFor="let pivot of data.pivots"
                         (opened)="setPivot(pivot.name)"
                         (closed)="closePivot(pivot.name)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{pivot.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="pivot-entries">
        <li *ngFor="let entry of pivot.entries">{{ entry.text }}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <ul>
    <li *ngFor="let entry of data.entries">{{ entry.text }}</li>
  </ul> -->
</div>
