.stage__text {
  font-family: Helvetica, Arial, sans-serif;
}

.aspect__text {
  font-family: Helvetica, Arial, sans-serif;
}

.item-text {
  font-family: Helvetica, Arial, sans-serif;
  color: blue;
}
