$opacity-fade-partial: 0.25;
$opacity-fade: 0.09;
$animation-duration-medium: 400ms;
$animation-duration-short: 225ms;
$animation-duration-ultra-short: 50ms;

.stage__line {
  stroke: lightgray; 
  stroke-width: 1;
  transition: opacity $animation-duration-medium ease-out;
}

.stage__text {
  font-size: 0.8rem;
  text-anchor: middle;
  transition: opacity $animation-duration-medium ease-out;
}

.aspect__text {
  font-family: Helvetica, Arial, sans-serif;
}

.item-text {
  font-family: Helvetica, Arial, sans-serif;
  color: blue;
}

.subsystem_individual-home {
  stroke: #ffc700;
}

.subsystem_health-wellbeing {
  stroke: #00d5da;
}

.subsystem_social {
  stroke: #ffacca;
}

.subsystem_cultural {
  stroke: #ffa900;
}

.subsystem_education {
  stroke: #00d596;
}

.subsystem_ecological {
  stroke: #bb62c8;
}

.subsystem_technology {
  stroke: #0094da;
}

.subsystem_economic {
  stroke: #f02300;
}

.subsystem_political {
  stroke: #d6e048;
}

.subsystem_policy-regulation {
  stroke: #f25b8d;
}

.subsystem_service-profession {
  stroke: #aad278;
}

.subsystem_project {
  stroke: #4fb5f7;
}


.entry {
  transition: opacity $animation-duration-short ease-in;

  circle {
    display: none;
    // stroke: lightgray;
    stroke-width: 1;
    fill: none;
  }

  .entry__arc {
    stroke-width: 3;
    fill-opacity: 0;
    transition: stroke-width $animation-duration-ultra-short ease-out;
  }

  &.entry_fade-partial {
    opacity: $opacity-fade-partial;
    transition: opacity $animation-duration-short ease-out;
  }

  &.entry_fade {
    opacity: $opacity-fade;
    transition: opacity $animation-duration-short ease-out;
  }

  &.entry_fade.entry_fade-partial {
    opacity: 0;
    transition: opacity $animation-duration-short ease-out;
  }

  &.entry_preview {
    opacity: 1;

    .entry__arc {
      stroke-width: 20;
      z-index: 100;
      transition: stroke-width $animation-duration-ultra-short ease-in;
    }

    &.entry_secondary .entry__arc {
      stroke-width: 10;
      animation: secondary-arc-animation $animation-duration-medium ease-in;
    }

  }

  &.entry__first-stage-line {
    stroke-width: 5;
    stroke-linecap: round;
    animation: secondary-arc-animation $animation-duration-medium ease-in;
  }
}

@keyframes secondary-arc-animation {
  0% {
    opacity: 0;
    stroke-width: 1;
  }
  50% {
    opacity: 0.5;
    stroke-width: 20;
  }
  100% {
    stroke-width: 10;
  }
}

.legend {
  opacity: 1;
  transition: opacity $animation-duration-medium ease-in;
}

.legend__text {
  font-size: 0.8rem;
}

.legend_fade {
  opacity: 0.1;
  transition: opacity $animation-duration-medium ease-out;
}

.subsystem_fill_individual-home {
  fill: #ffc700;
}

.subsystem_fill_health-wellbeing {
  fill: #00d5da;
}

.subsystem_fill_social {
  fill: #ffacca;
}

.subsystem_fill_cultural {
  fill: #ffa900;
}

.subsystem_fill_education {
  fill: #00d596;
}

.subsystem_fill_ecological {
  fill: #bb62c8;
}

.subsystem_fill_technology {
  fill: #0094da;
}

.subsystem_fill_economic {
  fill: #f02300;
}

.subsystem_fill_political {
  fill: #d6e048;
}

.subsystem_fill_policy-regulation {
  fill: #f25b8d;
}

.subsystem_fill_service-profession {
  fill: #aad278;
}

.subsystem_fill_project {
  fill: #4fb5f7;
}
