<svg xmlns="http://www.w3.org/2000/svg"
  [attr.viewBox]="'0 0 ' + scale + ' ' + scale"
  preserveAspectRatio="xMinYMin meet">

  <!-- <g *ngFor="let circle of subsystemCircles; index as i">
    <circle [attr.cx]="centreX"
            [attr.cy]="centreY"
            [attr.r]="circle.radius"
            stroke="black"
            stroke-width="1"
            fill="none" />

    <text class="aspect__text"
          [attr.transform]="'rotate(270)
                             translate(' +
                               (scale) + ', ' +
                               (500 + (i + 0.9) * circleRadialDistance) +
                             ')'"
          style="transform-origin: 50% 50%;">
      {{circle.subsystem.title}}
    </text>
  </g> -->

  <g *ngFor="let line of stageLines; index as i">
    <line class="stage__line"
          [attr.x1]="centreX"
          [attr.y1]="centreY"
          [attr.x2]="line.edgeX"
          [attr.y2]="line.edgeY" />

    <text class="stage__text"
          [attr.transform]="'translate(' +
                               line.edgeX + ', ' +
                               (line.edgeY) +
                             ')
                             rotate(' + (270 + 360 * line.angle) + ')
                             translate(5, -5)
                            '">
      {{line.stage.name}}
    </text>
  </g>

  <g *ngFor="let entry of entryViews; index as i" 
     [attr.class]="'entry ' + entry.class"
     (mouseenter)="previewOn(entry)"
     (mouseleave)="previewOff(entry)">
    <circle [attr.cx]="centreX"
            [attr.cy]="centreY"
            [attr.r]="entry.radius"/>
            <!-- stroke="black"
            stroke-width="1"
            fill="none"  -->

    <path *ngFor="let arc of entry.arcs"
          class="entry__arc"
          pointer-events="visibleStroke"
          [attr.d]="'M ' + arc.startX + ',' + arc.startY +
                    'A ' + arc.radius + ',' + arc.radius + ' 0 ' + arc.largeArcFlag + ' 1 ' + arc.endX + ',' + arc.endY" />

    <!-- <line [attr.x1]="entry.arcs[0].startX"
          [attr.y1]="entry.arcs[0].startY"
          [attr.x2]="stages[entry.arcs[0].firstStageIndex].edgeX"
          [attr.y2]="stages[entry.arcs[0].firstStageIndex].edgeY"
          stroke="blue"
          stroke-width="5" /> -->

    <!-- <text [attr.x]="entry.arcs[0].startX" [attr.y]="entry.arcs[0].startY">
      {{entry.text}}
    </text> -->

    <!-- <foreignObject width="250"
                   height="300"
                   [attr.transform]="'translate(' +
                               entry.arcs[0].startX + ', ' +
                               entry.arcs[0].startY +
                             ')
                             rotate(' + (270 - 360 * stages[entry.arcs[0].firstStageIndex].angle) + ')
                             translate(-255, -55)
                            '">
      <xhtml:p class="entry-text" xmlns="http://www.w3.org/1999/xhtml">
        {{entry.text}}
      </xhtml:p>
    </foreignObject> -->

    <!-- <text [attr.transform]="'translate(' +
                               stages[entry.arcs[0].firstStageIndex].edgeX + ', ' +
                               stages[entry.arcs[0].firstStageIndex].edgeY +
                             ')
                             rotate(' + (270 - 360 * stages[entry.arcs[0].firstStageIndex].angle) + ')
                             translate(5, -5)
                            '">
      {{entry.text}}
    </text> -->
    
  </g>


  <g *ngIf="entryViewPreviewed">
    <text>{{entrySelected}}</text>

    <g [attr.class]="'entry entry_preview ' + entryViewPreviewed.class">
      <path *ngFor="let arc of entryViewPreviewed.arcs"
            class="entry__arc"
            pointer-events="none"
            [attr.d]="'M ' + arc.startX + ',' + arc.startY +
                      'A ' + arc.radius + ',' + arc.radius + ' 0 ' + arc.largeArcFlag + ' 1 ' + arc.endX + ',' + arc.endY" />
    </g>

    <g *ngFor="let subsystem of entryViewPreviewed.secondaryArcs | keyvalue"
       [attr.class]="'entry subsystem_' + subsystem.key + ' entry_preview entry_secondary'">

      <path *ngFor="let arc of subsystem.value"
            class="entry__arc"
            pointer-events="none"
            [attr.d]="'M ' + arc.startX + ',' + arc.startY +
                      'A ' + arc.radius + ',' + arc.radius + ' 0 ' + arc.largeArcFlag + ' 1 ' + arc.endX + ',' + arc.endY" />
    </g>

    <!-- <line class=""
          [attr.class]="'entry entry__first-stage-line ' + entryViewPreviewed.class"
          [attr.x1]="entryViewPreviewed.firstStageLine.startX"
          [attr.y1]="entryViewPreviewed.firstStageLine.startY"
          [attr.x2]="entryViewPreviewed.firstStageLine.endX"
          [attr.y2]="entryViewPreviewed.firstStageLine.endY" /> -->
  </g>

  <g *ngFor="let subsystem of subsystems; let i = index"
     class="legend"
     [class.legend_fade]="!checkSubsystemInEntry(entryViewPreviewed, subsystem)">
    <rect [attr.class]="'subsystem_fill_' + subsystem.className" 
          [attr.x]="10"
          [attr.y]="scale - 211 + i * 16"
          [attr.width]="33"
          [attr.height]="14"></rect>
    <text class="legend__text" 
          [attr.x]="50"
          [attr.y]="scale - 200 + i * 16">{{subsystem.name}}</text>
  </g>

</svg>


<!-- <router-outlet></router-outlet> -->
