<svg xmlns="http://www.w3.org/2000/svg"
  [attr.viewBox]="'0 0 ' + 2 * scale + ' ' + scale"
  preserveAspectRatio="xMinYMin meet">

  <g *ngFor="let circle of circles; index as i">
    <circle [attr.cx]="centreX"
            [attr.cy]="centreY"
            [attr.r]="circle.radius"
            stroke="black"
            stroke-width="1"
            fill="none" />

    <text class="aspect__text"
          [attr.transform]="'rotate(270)
                             translate(' +
                               (scale) + ', ' +
                               (500 + (i + 0.9) * circleRadialDistance) +
                             ')'"
          style="transform-origin: 50% 50%;">
      {{circle.title}}
    </text>
  </g>

  <g *ngFor="let line of lines; index as i">
    <line class="stage__line"
          [attr.x1]="centreX"
          [attr.y1]="centreY"
          [attr.x2]="line.edgeX"
          [attr.y2]="line.edgeY"
          stroke="red"
          stroke-width="1" />

          <!-- [attr.x2]="centreX + edgeX(i, lines.length)"
          [attr.y2]="centreY - edgeY(i, lines.length)" -->

    <text class="stage__text"
          [attr.transform]="'translate(' +
                               line.edgeX + ', ' +
                               (line.edgeY) +
                             ')
                             rotate(' + (270 - 360 * line.angle) + ')
                             translate(5, -5)
                            '"
          fill="red">
      {{line.title}}
    </text>
  </g>
</svg>


<!-- <router-outlet></router-outlet> -->
